// =============================
// File Path: components/_footer.scss
// Description: Footer styles
// Author: Dan Levy
// Email: danlevy124@gmail.com
// Created Date: 9/5/2019
// =============================

footer {
    height: 60px;
    @include flex($justify-content: center, $align-items: center);
    background-color: $dark-blue;
    margin-top: 80px;
}

#footer-copyright-text {
    margin: 0 auto;
    @include text(
        $font-size: 0.75rem,
        $font-weight: 300,
        $color: $white,
        $line-height: 0.95rem
    );
}
